# bin/ stores the intermediate built files
/bin/

# built executables
/*qemu_*
/*kvm_*

# persistent state of the build
/litmus/groups.c
/litmus/test_list.txt
/litmus/group_list.txt
/litmus/linter.log

# specifically un-ignore the interesting dirs
# to overrule any global .gitignores
!/lib/
!/inc/
!/unittests/
!/litmus/
!/doc/
!/mk/
!/docker/
!/hw-results/
!/elfs/